name: wallpaper_manager_plus
description: "A Flutter plugin that allows you to easily set wallpapers on Android devices, with support for home screen, lock screen, and both screens."
version: 0.0.3
homepage: https://github.com/sawin0/wallpaper_manager_plus

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.wallpaper_manager_plus
        pluginClass: WallpaperManagerPlus
